html, body {
    height: 100%;
}
/*div{
    margin: 10px;
    border: 2px fuchsia solid;
}*/
#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#kérdés_szöveg{
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}
#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.válasz{
    padding: 5px;
    border: 2px solid lavender;
    border-radius: 8px;
    margin: 5px;
}
#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    overflow: hidden;
    flex-shrink: 0;
    flex-shrink: 0;
}

.gomb {
    padding: 20px;
    width: 80%;
    border: black 1px solid;
    border-radius: 8px;
}
/*.kerdes{
}*/
.kattintható:hover {
    background-color: lavender;
    color: rgb(85, 85, 163);
    cursor: pointer;
}

.jó {
    background-color: lightgreen !important;
}

.rossz {
    background-color: lightsalmon !important;
}
